{% extends 'base.html.twig' %}

{% block title %} - checkout complete{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="orderd-complete-container col-6">
            <div>Naam:<span>{{ customer.name }}</span></div>
            <div>Adres:<span>{{ customer.address }}</span></div>
            <div>Telefoon nummer:<span>{{ customer.phone_number }}</span></div>
            <div>Afleveren:<span>{{ customer.delivery }}</span></div>
            <div>Besteld op:<span>{{ customer.orderd_date }}</span></div>
            <div>huur begin:<span>{{ customer.start_date }}</span></div>
            <div>huur eind:<span>{{ customer.end_date }}</span></div>


        </div>
        <div class="col-6">           
        <table class="table table-hover" id="checkout-container">
                <thead>
                    <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col" class="checkout-price">Price</th>

                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {% for elem in data %}
                <tr>
                    <th><img src="/uploads/{{ elem.image }}"></th>
                    <th>{{ elem.name}}</th>
                    <th class="checkout-price">€ {{ elem.barbecuePrice }}</th>
                    <th></th>
                </tr>
                {% endfor %}
                <tr style='border-bottom: 2px solid black;'>
                <th class="unbold">extra</th>
                <th>{{ accessoire.name }}</th>
                <th class="checkout-price unbold">€ {{ accessoire.price }}</th>
                <th></th>
                </tr>
                <tr>
                <th class="unbold">btw</th>
                <th></th>
                <th class="checkout-price unbold">€ {{ btw }}</th>
                <th></th>
                </tr>
                <tr>
                <th class="unbold">total</th>
                <th></th>
                <th class="checkout-price unbold" att>€ {{ total }}</th>
                <th></th>
                </tr>
                </tbody>
            </table>
        </div></div>
    </div>
</div>
{% endblock %}
